 .elec-item{
        box-shadow: 1px 1px 1px 1px #efefef ;
        border-radius: 0 0 0 10px;
        background-color: white;
        width: 1000px;
        height: 500px;
        overflow-y: scroll;
        /* display: none;           */
        
    }
    .elec-items{
        display: flex;
        flex-direction:row ;
        margin:10px;
        grid-row-gap: 10px;
        grid-column-gap: 40px;
    }
    .elec-col-1{
        display: flex;
        flex-direction: column;
        
    }
    .elec-col-1 a{
        font-size: 13px;
        opacity: .8;
        padding:7px 5px;
        
    }
    .elec-col-1-title{
    opacity: 1!important;
        font-size: 15px!important ;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 10px!important;
    }
    .elec-col-1-title img:not(:first-child){
        width: 10px;
        height: 10px;
        padding-top: 1px;
        align-items: center;
    }
    .elec-col-1-title img{
        width: 18px;
        height: 18px;
    
    }
    .elec-col-1 a:hover{
        color: red;
        transition: 3ms ease-in;
    }
    .elec-title{
        color: rgb(75, 193, 209);
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
    
    }
    .elec-title img{
        width: 16px;
        height: 16px;
    }