/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(213, 212, 212); 
    border-radius: 8px;
  }
     ::-webkit-scrollbar-thumb {
    background: rgb(180, 177, 177); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:#cdcccc; 
  }