.container-fluid{
background-color: white;
padding: 20px;

}
.container{
    display: flex;

}
.right-sec{
    width: 80%;
    display: flex;
    align-items: center;


}
.logo{
    padding-top: 5px;
    padding-left: 12px;
}
.search-box{
    background-color: #efefef;
    width: 50%;
    margin-right: 10px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    grid-column-gap: 10px;    
    grid-row-gap: 5px;
    align-items: center;

}
.search-box span{
    opacity: .5;
    font-size: 14px;
}
.search-logo{
    opacity: .5;

}

 .search-logo{
    height: 25px;
    width: 25px;
}
.left-sec{
    width: 20%;
display: flex;
align-items: center;
justify-content: left;
grid-column-gap: 12px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 5px  8px;
    border:.05px solid  rgba(202, 198, 198, 0.725);
    border-radius: 7px;

}
.line img{
    opacity: .1;
height: 26px;
align-items: center;

}
.button img{
    width: 25px;
    height: 25px;
}