.navigation-bar{
    background-color: white;
}
.navigation-bar   .container{
    display: flex;
    flex-direction: row;
}
.right-nav{
    display: flex;
    flex-direction: row;
}
.right-nav a{
    opacity: .7;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;

}
.right-nav img{
    width: 20px;
    height: 20px;
}
.nav-items{
    display: flex;
}
.menu-link{
    padding-left: 0;
    padding-right: 0;
    opacity: 1;
    display: flex;
}